<!-- aqui pondremos funcionalidad para que se ordenen  las tareas-->
<p>
    <a routerLink="./" [queryParams]="{orden: order() === 'asc' ? 'desc' : 'asc'}">
        <!-- podemos poner parametro a la url con queryParams quedaria: ?orden:asc, y ahora el valor lo estamos igualando al que passmos como input order-->
        Orden {{order() === 'asc' ? 'Descendente': 'Ascendente'}}
    </a>
</p>

<!-- <p>{{userId()}}</p> -->
<ul>
    @for (task of userTasks(); track task.id) {
    <li>
        <app-task [task]="task" />
    </li>
    } @empty {
    <p>There are no tasks yet. Start adding some!</p>
    }
</ul>